
<div class="container">
	<div class="divPanel page-content">
				<div class="breadcrumbs">

			          <a href="index.html">Home</a> &nbsp;/&nbsp; <span>Blog</span>
			          
			    </div>

				<div id="pins">
					<%= render @pins %>
				</div>
	</div>
</div>
    
    