<h1>Listing Ideas</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<%= render @pins %>
</tbody>
</table>

<br />

<%= link_to 'New Idea', new_pin_path %>
