<h4>Listing all Cogs</h4>

<div class="well">
<table class="table table-striped">
  <thead>
  <tr>
    <th>User Id</th>
    <th>Email</th>
    <th>Member Since</th>
    <th></th>

  </tr>
</thead>
<tbody>
<%= render @users %>
</tbody>
</table>
</div>