<% if user_signed_in? %>
<div class="hero-unit">
<h1>Welcome to Three Cogs!</h1>
<p>
	You found the home page for the
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> application
</p>
<p>Your Logged In!</p>
<p><%= link_to 'Thankyou <i class="icon-ok-circle icon-white"></i>'.html_safe, "#", class: "btn btn-primary btn-large" %></p>
</div>
<% else %>
<div class="hero-unit">
<h1>Welcome to Three Cogs!</h1>
<p>
	You found the home page for the
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> application
</p>
<p><%= link_to 'Sign Up <i class="icon-cog icon-white"></i>'.html_safe, new_user_registration_path, class: "btn btn-primary btn-large" %></p>
</div>
<% end %>