<div class="footer">
		

		<small><%= link_to '<i class="icon-heart"></i> About'.html_safe, about_path %></small>
		</br>
		<small><%= link_to "One Month Rails", "http://onemonthrails.com" %> by <%= link_to "Tiago Martins", "http://onemonthrails.com" %></small>
</div>